# upstream app {
#    server app.sapligin.ru:80;
# }


server {
listen 443 ssl;
server_name sapligin.ru www.sapligin.ru;
access_log /var/log/nginx/sapligin.ru.access.log main;
index index.html index.htm;
ssl on;
ssl_certificate /etc/letsencrypt/live/sapligin.ru/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/sapligin.ru/privkey.pem;
location / {
    proxy_pass http://{{ hostvars['app'].ansible_host }};
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
    }
}