global:
  scrape_interval:     10s
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']
  - job_name: 'nginx'
    scrape_interval: 10s
    static_configs:
    - targets: ['{{ hostvars['nginx'].ansible_host }}:9100']
  - job_name: 'db01'
    scrape_interval: 10s
    static_configs:
    - targets: ['{{ hostvars['db01'].ansible_host }}:9100']
  - job_name: 'db02'
    scrape_interval: 10s
    static_configs:
    - targets: ['{{ hostvars['db02'].ansible_host }}:9100']
  - job_name: 'app'
    scrape_interval: 10s
    static_configs:
    - targets: ['{{ hostvars['app'].ansible_host }}:9100']
  - job_name: 'gitlab-server'
    scrape_interval: 10s
    static_configs:
    - targets: ['{{ hostvars['gitlab'].ansible_host }}:9100']
  - job_name: 'gitlab-runner'
    scrape_interval: 10s
    static_configs:
    - targets: ['{{ hostvars['runner'].ansible_host }}:9100']
  - job_name: 'monitoring'
    scrape_interval: 10s
    static_configs:
    - targets: ['{{ hostvars['monitoring'].ansible_host }}:9100']
  - job_name: 'db01'
    static_configs:
      - targets: ['{{ hostvars['db01'].ansible_host }}:9104']
        labels:
          alias: db01
  - job_name: 'db02'
    static_configs:
      - targets: ['{{ hostvars['db02'].ansible_host }}:9104']
        labels:
          alias: db02
rule_files:
  - "rules.yml"

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - 'localhost:9093'